:root {
    --light-gray: #dfdfdf;
    --medium-gray: #cccccc;
    --dark-gray: #5f5f5f;
    --green: #009407;
    --blue: #0d56c4;
    --red: #e40d0d;
    --gap: 6px;
}

body {
    margin: 0;
}


.align-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_light-gray {
    background-color: var(--light-gray);
}

.wrapper {
    display: flex;
    flex-direction: column;

    height:100vh;
    padding: var(--gap);
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: calc(var(--gap)*2) 0;
    text-align: center;

}

.wrapper_main {
    display: flex;
    flex-grow: 1;

    margin: var(--gap) 0;
}

.sidebar {
    flex-grow: 1;

    margin-right: var(--gap);

    color: var(--green);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    border: var(--gap) solid var(--light-gray);
}

.footer {
    padding: var(--gap) 0;

    text-align: center;
    color: var(--dark-gray);
}

section {
    background-color: var(--medium-gray);
}

.button-section {
    display: flex;
    justify-content: space-around;

    padding: var(--gap) 0;
    box-sizing: content-box;
    border-bottom: var(--gap) solid var(--light-gray);
}

.buttons {
    width: 100px;
    padding: var(--gap);
    border: none;

    text-decoration: underline;
    color: var(--red);
    font-weight: bold;
}

.content {
   flex-grow: 1;
   color: var(--blue);
}
